<main class="settings-container" *ngIf="userProfile$ | async as profile; else loading">
    
    <aside class="sidebar">
        <h2>Configuración de la cuenta</h2>
        <nav class="sidebar-nav">
        <a class="active">Información personal</a>
        <a>Inicio de sesión y seguridad</a>
        <a>Pagos</a>
        </nav>
    </aside>

    <section class="content-area">
        <h1>Información personal</h1>
        
        <div class="info-list">
        <div class="info-item">
            <div>
            <span class="label">Nombre</span>
            <span class="value">{{ profile.nombre }} {{ profile.apellido_paterno }} {{ profile.apellido_materno }}</span>
            </div>
            <a class="action-link">Editar</a>
        </div>

        <div class="info-item">
            <div>
            <span class="label">Fecha de nacimiento</span>
            <span class="value">{{ profile.fecha_nacimiento | date:'dd/MM/yyyy' }}</span>
            </div>
            <a class="action-link">Editar</a>
        </div>

        <div class="info-item">
            <div>
            <span class="label">Email</span>
            <span class="value">{{ profile.email }}</span>
            </div>
            <a class="action-link">Editar</a>
        </div>

        <div class="info-item">
            <div>
            <span class="label">Dirección</span>
            <span class="value" *ngIf="profile.direccion; else noAddress">{{ profile.direccion }}</span>
            <ng-template #noAddress><span class="no-value">No proporcionado</span></ng-template>
            </div>
            <a class="action-link">{{ profile.direccion ? 'Editar' : 'Agregar' }}</a>
        </div>
        
        </div>
    </section>
    </main>

    <ng-template #loading>
    <p>Cargando información del usuario...</p>
</ng-template>